@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    margin: 0;
    background-color: #3f3f3f;
}

.container {
    padding: 1rem;
    background-color: rgb(31, 31, 31);
    margin: 2rem auto;
    width: 100rem;
    max-width: 95%;
}

.list {
    list-style: none;
    padding: 0;
}

.__fallback {
    color: white;
    text-align: center;
}

.__head {
    color: #a892ee;
    border: 2px solid #a892ee;
    padding: 1rem;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    font-size: 2.5rem;
    font-weight: bold;
}

.nav {
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.button {
    border: 2px solid #a892ee;
    padding: 1rem;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    color: #a892ee;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.__article {
    color: #a892ee;
    border: 2px solid #a892ee;
    padding: 1rem;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    font-weight: bold;
}

.__paragraph {
    color: #a892ee;
    border: 2px solid #a892ee;
    padding: 1rem;
    text-align: left;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    font-size: 1rem;
}

.article_aside {
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.__contact {
    color: #a892ee;
    border: 2px solid #a892ee;
    padding: 1rem;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    font-weight: bold;
}

.__form {
    color: #a892ee;
    border: 2px solid #a892ee;
    padding: 1rem;
    text-align: left;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    font-size: 1rem;
}

.__form_head {
    color: #a892ee;
    padding: 1rem;
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;
}

.input_label {
    color: #a892ee;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
    margin: 2rem 0 2rem 0;
}

.input_form {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.submit_button {
    border: 2px solid #a892ee;
    background-color: #3a3a3a;
    padding: 1rem;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    color: #a892ee;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    margin: 2rem 0 2rem 0;
}

.list_label {
    color: #a892ee;
    border: 2px solid #a892ee;
    padding: 1rem;
    text-align: left;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    font-weight: bold;
}

.list_item {
    margin: 2rem 0 2rem 0;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    color: #a892ee;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

table,
th,
td {
    border: 2px solid #a892ee;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    margin: 1rem 0 1rem 0;
}

th td {
    padding: 1rem;
}

thead th:nth-child(1) {
    width: 25%;
}

thead th:nth-child(2) {
    width: 25%;
}

thead th:nth-child(3) {
    width: 25%;
}

thead th:nth-child(4) {
    width: 25%;
}

.list_label_school {
    color: #a892ee;
    border: 2px solid #a892ee;
    padding: 1rem;
    text-align: left;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    font-size: .75rem;
    font-weight: bold;
}

.list_item_school {
    margin: 2rem 0 2rem 0;
}

.list_label_school_main {
    color: #a892ee;
    border: 2px solid #a892ee;
    padding: 1rem;
    text-align: left;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    font-size: .75rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.list_item_school_main {
    margin: 2rem 0 2rem 0;
    width: 10%;
}

.student_button {
    border: 2px solid #a892ee;
    padding: 1rem;
    width: 65rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    color: #a892ee;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin: 2rem 0 2rem 0;
}

.__article_student {
    color: #a892ee;
    border: 2px solid #a892ee;
    padding: 1rem;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem 0 2rem 0;
}

.student_button_margin {
    margin: 2rem 0 2rem 0;
}