<!DOCTYPE html>
<html>

<head>
    <meta content="width: device-width; initial-scale: 1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../css/index.css" />
    <title>Girls List</title>
</head>

<body>

    <div>
        <div class="container">
            <div class="list">
                <h1 class="__head">Girl </h1>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="list">
                <nav class="nav">
                    <a class="button" href="../../HTML basics - list link.html">Back HTML School Page</a>
                </nav>
            </div>
        </div>

    </div>
    <hr />
    <div class="container">
        <div class="list">
            <h1 class="__head">Girl Profile</h1>
            <div class="container">
                <div class="list">
                    <div class="__paragraph">
                        <div>
                            <img src="../../images/students/girl/girl.svg" alt="Boy" height="10%" width="10%" />
                        </div>
                        <div>
                            <audio controls> 
            <source src="../../audios/student/student.mp3" type="audio/mpeg" />
        </audio>
                        </div>
                        <div>
                            <video controls>
            <source src="../../videos/example.mp4" type="video/mp4" />
            <source src="../../videos/example.ogv" type="video/ogg" />
            <source src="../../videos/example.webm" type="video/webm" />
        </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="container">
        <div class="list">
            <footer class="__fallback">&copy; Learn HTML CSS 2021</footer>
        </div>
    </div>

    <hr />
</body>

</html>