<!DOCTYPE html>
<html>

<head>
    <meta content="width: device-width; initial-scale: 1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/index.css" type="text/css" />
    <title>Abaut Us</title>
</head>

<body>

    <div>
        <div class="container">
            <div class="list">
                <h1 class="__head">About Us</h1>
            </div>
        </div>
        <hr />
        <div class="container">
            <div class="list">
                <nav class="nav">
                    <a class="button" href="../index.html">Back to Home</a>
                </nav>
            </div>
        </div>
        <hr />
    </div>

    <div class="container">
        <div class="list">
            <div class="__fallback">
                <header class="__article">Intro</header>
                <p class="__paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="list">
            <!__ dl mostly comes under meta tag __>

            <header class="__article">Course List:</header>

            <dl class="list_label">
                <dt class="list_item">
                        1st:
                        <dd>
                            Course Head: Head_1 <br />
                            Intro: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                            
                        </dd>
                    </dt>
                <dt class="list_item">
                        2nd:
                        <dd>
                            Course Head: Head_2 <br />
                            Intro: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                            
                        </dd>
                    </dt>
                <dt class="list_item">
                        3rd:
                        <dd>
                            Course Head: Head_3 <br />
                            Intro: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                            
                        </dd>
                    </dt>
                <dt class="list_item">
                        4th:
                        <dd>
                            Course Head: Head_4 <br />
                            Intro: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                            
                        </dd>
                    </dt>
                <dt class="list_item">
                        5th:
                        <dd>
                            Course Head: Head_5 <br />
                            Intro: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                            
                        </dd>
                    </dt>
                <dt class="list_item">
                        6th:
                        <dd>
                            Course Head: Head_6 <br />
                            Intro: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                            
                        </dd>
                    </dt>
                <dt class="list_item">
                        7th:
                        <dd>
                            Course Head: Head_7 <br />
                            Intro: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                            
                        </dd>
                    </dt>
                <dt class="list_item">
                        8th:
                        <dd>
                            Course Head: Head_8 <br />
                            Intro: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                            
                        </dd>
                    </dt>
                <dt class="list_item">
                        9th:
                        <dd>
                            Course Head: Head_9 <br />
                            Intro: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                            
                        </dd>
                    </dt>
                <dt class="list_item">
                        10th:
                        <dd>
                            Course Head: Head_10 <br />
                            Intro: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                            
                        </dd>
                    </dt>
            </dl>

        </div>
    </div>

    <div class="container">
        <div class="list">
            <header class="__article">Course Details</header>

            <table>
                <thead>
                    <tr>
                        <th>Course</th>
                        <th>Course Head</th>
                        <th>Course Head Contact Details</th>
                        <th>Course Price in Rupee</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1st</td>
                        <td>Head_1</td>
                        <td>NA</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>2nd</td>
                        <td>Head_2</td>
                        <td>NA</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>3rd</td>
                        <td>Head_3</td>
                        <td>NA</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>4th</td>
                        <td>Head_4</td>
                        <td>NA</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>5th</td>
                        <td>Head_5</td>
                        <td>NA</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>6th</td>
                        <td>Head_6</td>
                        <td>NA</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>7th</td>
                        <td>Head_7</td>
                        <td>NA</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>8th</td>
                        <td>Head_8</td>
                        <td>NA</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>9th</td>
                        <td>Head_9</td>
                        <td>NA</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>10th</td>
                        <td>Head_10</td>
                        <td>NA</td>
                        <td>100</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>All Courses</td>
                        <td>NA</td>
                        <td>NA</td>
                        <td>10000</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>



    <hr />

    <div class="container">
        <div class="list">
            <footer class="__fallback">&copy; Learn HTML CSS 2021</footer>
        </div>
    </div>

    <hr />

</body>

</html>