<!DOCTYPE html>
<html>

<head>
    <meta content="width: device-width; initial-scale: 1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/index.css" type="text/css" />
    <title>Contact Details</title>
</head>

<body>
    <div>
        <div class="container">
            <div class="list">
                <h1 class="__head">Contact Details</h1>
            </div>
        </div>
        <hr />
        <div class="container">
            <div class="list">
                <nav class="nav">
                    <a class="button" href="../index.html">Back to Home</a>
                </nav>
            </div>
        </div>
        <hr />
    </div>


    <div class="container">
        <div class="list">
            <div class="__contact">
                <h3>Email: OurEmail@gmail.com</h3>
                <h3>Tele: 123456789</h3>
                <h3>Address: XYZ</h3>
            </div>

        </div>
    </div>




    <div class="container">
        <div class="list">
            <header class="__article">Help</header>
            <form class="__form">

                <div>
                    <label class="input_label">Email:
                        <input class="input" type="email" placeholder="example@gamil.com"  />
                    </label>
                </div>
                <div>
                    <label><span class="input_label">Your Message:</span><br />
                        <textarea class="input"  rows="10" cols="50"></textarea>
                    </label>
                </div>
                <div>
                    <button class="submit_button">Submit</button>
                </div>
            </form>
        </div>
    </div>



    <hr />

    <div class="container">
        <div class="list">
            <footer class="__fallback">&copy; Learn HTML CSS 2021</footer>
        </div>
    </div>

    <hr />

</body>

</html>