<!DOCTYPE html>
<html>

<head>
    <meta content="width: device-width; initial-scale: 1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../css/index.css" type="text/css" />
    <title>Teachers List</title>
</head>

<body>
    <div>
        <div class="container">
            <div class="list">
                <h1 class="__head">Teachers List</h1>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="list">
                <nav class="nav">
                    <a class="button" href="../../HTML basics - list link.html">Back HTML School Page</a>
                </nav>
            </div>
        </div>

    </div>
    <hr />
    <div class="container">
        <div class="list">

            <header class="__article">Teachers:</header>
            <ul>
                <li class="student_button_margin">

                    <a class="student_button" href="../teachers/teacher.html">teacher_1</a>
                </li>
                <li class="student_button_margin">

                    <a class="student_button" href="../teachers/teacher.html">teacher_2</a>
                </li>
                <li class="student_button_margin">

                    <a class="student_button" href="../teachers/teacher.html">teacher_3</a>
                </li>
            </ul>

        </div>
    </div>
    <hr />
    <div class="container">
        <div class="list">
            <footer class="__fallback">&copy; Learn HTML CSS 2021</footer>
        </div>
    </div>

    <hr />
</body>

</html>